.details__container {
  display: flex;
  gap: 1.5rem;
}

.details__image {
  display: block;
  object-fit: cover;
  max-width: 25rem;
  max-height: 15rem;
  height: auto;
}

.details__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: var(--f-black);
}

.details__description {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 0;
}

.details__category {
  color: var(--f-red);
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.details__price {
  font-weight: 700;
  font-size: 1.5rem;
}

.details__button {
  width: min-content;
  background-color: var(--f-red);
  border: 0.0625rem solid var(--f-red);
  color: #fff;
}

.details__button:hover {
  background-color: transparent;
  color: var(--f-red);
}

.details__button:disabled {
  opacity: 0.4;
  background-color: var(--f-red);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .details__container {
    flex-direction: column;
  }

  .details__image {
    margin: 0 auto;
  }
}

@media screen and (max-width: 468px) {
  .details__image {
    max-width: 100%;
  }

  .details__description {
    font-size: 1rem;
  }
}
