.favorites__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites__empty-text {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.favorites__button {
  background-color: var(--f-red);
  border: 2px solid var(--f-red);
  color: #fff;
  width: min-content;
}

.favorites__button:hover {
  background-color: #fff;
  color: var(--f-red);
}
