.button {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
  outline: 0;
  border-radius: 1rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.35s linear;
}

.button:disabled {
  cursor: not-allowed;
}
