.app {
  font-family: "Manrope", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;

  max-width: 96rem;
  min-width: 20rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --f-yellow: hsl(47, 92%, 69%);
  --f-black: hsl(216, 100%, 3%);
  --f-light-black: rgba(0, 0, 0, 0.07);
  --f-red: hsl(7, 70%, 30%);
  --f-gray: hwb(0 89% 11%);
}

.app__container {
  flex-grow: 1;
  padding: 0 0.5rem;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 30;
}
