.card {
  border: 0.0625rem solid var(--f-yellow);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 28rem;
  min-width: 19rem;
  width: 100%;
  transition: all 0.35s linear;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 0.3125rem 1.375rem rgb(0, 0, 0, 0.2);
}

.card__container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  height: 100%;
  width: 100%;
}

.card__image {
  max-height: 10rem;
  max-width: 100%;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
  transition: all 0.35s linear;
}

.card__image:hover {
  transform: scale(1.15);
}

.card__category {
  margin: 0;
}

.card__title {
  color: var(--f-black);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__star {
  font-size: 1.5rem;
  color: var(--f-yellow);
  cursor: default;
}

.card__rate {
  font-weight: 700;
}

.card__wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card__price {
  color: var(--f-red);
  font-size: 1.25rem;
  font-weight: 600;
}

.card__heart {
  color: var(--f-black);
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.35s linear;
}

.card__heart_active,
.card__heart:hover {
  color: var(--f-red);
}

.button_type_card {
  background-color: var(--f-yellow);
  color: #fff;
  border: 0.125rem solid var(--f-yellow);
  width: 100%;
}

.button_type_card:hover {
  background-color: #fff;
  color: var(--f-yellow);
}

.button_type_card:disabled {
  opacity: 0.6;
  background-color: var(--f-yellow);
  color: #fff;
}

@media screen and (max-width: 400px) {
  .card {
    padding: 0.5rem;
  }

  .card__title {
    font-size: 1.125rem;
  }
}
