.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cart__count {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--f-black);
  margin: 0;
}

.cart__info {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart__button {
  width: min-content;
  background-color: transparent;
  border: 1px solid var(--f-red);
  color: var(--f-red);
}

.cart__button:hover {
  background-color: var(--f-red);
  color: #fff;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 2px solid var(--f-yellow);
  border-bottom: 2px solid var(--f-yellow);
  padding: 1rem 0;
}

.cart__empty-message {
  margin: 0;
  color: var(--f-black);
  font-size: 1.25rem;
  font-weight: 600;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.cart__cost {
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
  color: var(--f-black);
}

@media screen and (max-width: 748px) {
  .cart__items {
    border: 0;
    gap: 1.25rem;
  }
}

@media screen and (max-width: 400px) {
  .cart__total {
    flex-direction: column;
    gap: 1rem;
  }
}
