@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

@import url("./blocks/section/section.css");
@import url("./blocks/section/__title/section__title.css");
@import url("./blocks/section/__content/section__content.css");

@import url("./blocks/page/page.css");
@import url("./blocks/page/_scroll/page_scroll.css");

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(47, 92%, 69%);
  border-radius: 0.25rem;
}
