.home__search-error {
  margin-top: 2rem;
  color: var(--f-red);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.home__search-error_visible {
  display: none;
}

.home__radio {
  display: flex;
  max-height: 1.625rem;
  gap: 0.5rem;
}

.home__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.home__filter-container {
  display: flex;
  gap: 1rem;
}

.home__checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.input_type_text {
  width: 100%;
}

@media screen and (max-width: 648px) {
  .home__filter-container {
    flex-direction: column;
  }
}
